/* Color References #####
/* Green:       #70B044;
/* Salmon:      #DD5638;
/* Blue-Grey:   #3E4249;
*/
:root {
    --col-green: #70B044;
    --col-salmon: #DD5638;
    --col-bluegry: #3E4249;
}

body {
    font-size: 16px;
    margin-top: 3.125rem;
    /* 50px; */
    background: url("../assets/img/tile.jpg") top left repeat;
}

.master-container-marker {
    border: 3px solid goldenrod;
}

.row-marker {
    border: 2px solid mistyrose;
}

.marker1 {
    border: 1px dashed lightblue
}

.marker2 {
    border: 1px dashed lightgreen
}

.marker3 {
    border: 1px dashed lightsalmon
}

h1,
h2,
h3,
h4,
h5,
h6 {
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizelegibility;
    font-weight: bold;
}

h1 {
    font-size: 3em;
    /* 48px */
}

h1,
h2 {
    margin: 0 0 2.5rem;
    /* 40px */
}

h3 {
    margin: 1.25rem 0;
    /* 20px */
}

h4 {
    font-size: 1.125rem;
    /* 18px */
}

button,
input,
.btn,
a.btn {
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizelegibility;
    color: #fff;
}

.btn {
    font-weight: bold;
}

.btn-danger {
    background-color: var(--col-salmon);
    border-color: #D95131;
}

section {
    padding: 5rem 0;
    /* 80px */
}

.section-header {
    text-align: center;
}

section h2 {
    margin: 1.25rem 0 2.5rem;
    /* 20px 0 40px */
}

section h3 {
    margin: 1.875rem 0 0.625rem;
    /* 30px 0 10px */
}

/* --------------------------------------------------------
   HERO SECTION
-------------------------------------------------------- */
#hero {
    background: url('../assets/img/hero-bg.jpg') 50% 0 repeat fixed;
    min-height: 31.25rem;
    /* 500px */
    padding: 2.5rem 0;
    /* 40px */
    color: #fff;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizelegibility;
}

#hero img {
    max-width: 100%;
}

#hero article {
    width: 100%;
    text-align: center;
}

#hero .hero-text {
    margin-top: 1.875rem;
    /* 30px */
}

#price-timeline {
    margin: 1.875rem 0 3.75rem;
    /* 30px 60px */
    text-align: center;
}

#price-timeline .price {
    display: inline-block;
    margin: 0 2% 0 0;
    width: 30%;
    background: var(--col-bluegry);
    padding: 0.625rem 1.25rem 1.875rem;
    /* 10px 20px 30px */
    position: relative;
    vertical-align: top;
}

#price-timeline .price.active {
    background: var(--col-salmon);
}

#price-timeline .price span {
    background: #101010;
    display: block;
    height: 4.375rem;
    /* 70px; */
    width: 4.375rem;
    /* 70px */
    text-align: center;
    line-height: 4.375rem;
    /* 70px */
    font-weight: bold;
    font-size: 1.5rem;
    /* 24px */
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    position: absolute;
    bottom: -35px;
    left: 50%;
    margin-left: -35px;
}

#price-timeline h4 {
    margin: 0 0 0.625rem;
    /* 10px */
}

#price-timeline h4 small {
    color: #fff;
    font-weight: bold;
    display: block;
}

/* --------------------------------------------------------
   OPT-IN SECTION & MODAL
-------------------------------------------------------- */
#optin {
    background: var(--col-bluegry);
    padding: 0.75rem 0;
    /* 20px */
    color: #fff;
    font-size: 1.2rem;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizelegibility;
}

#optin p {
    margin: 0.4375rem 0 0 0;
    /* 7px */
}

#optin button {
    letter-spacing: 0.2px;
}

.modal-footer p small {
    font-size: 0.625rem;
    text-align: center;
}

/* -----------------------------------------------------------------------------------------
   BOOST YOUR INCOME - (No syling applied here. All stylng through 'section' declarations.)
------------------------------------------------------------------------------------------ */
#whoShouldTakeCourse {
    background: #fff;
}

/* --------------------------------------------------------
   COURSE FEATURES
-------------------------------------------------------- */
#courseFeatures {
    background: var(--col-bluegry);
    color: #fff;
    text-align: center;
}

i.ci {
    display: inline-block;
    height: 2.5rem;
    /* 40px */
    width: 2.5rem;
    /* 40px */
    background: url(../assets/img/icon-sprite.png) no-repeat;
}

.ci.ci-computer {
    background-position: 0 0;
}

.ci.ci-watch {
    background-position: -40px 0;
}

.ci.ci-calendar {
    background-position: -80px 0;
}

.ci.ci-community {
    background-position: -120px 0;
}

.ci.ci-instructor {
    background-position: -160px 0;
}

.ci.ci-device {
    background-position: -200px 0;
}

/* --------------------------------------------------------
   PROJECT FEATURES
-------------------------------------------------------- */
#projectFeatures {
    text-align: center;
}

#projectFeatures p.lead {
    margin-bottom: 3rem;
}