body {
    font-size: 16px;
}

.master-container-marker {
    border: 3px solid goldenrod;
}

.row-marker {
    border: 2px solid mistyrose;
}

.marker1 {
    border: 1px dashed lightblue
}

.marker2 {
    border: 1px dashed lightgreen
}

.marker3 {
    border: 1px dashed lightsalmon
}