#testimonials {
    text-align: center;
}

#testimonials h2 {
    margin-bottom: 4.375rem;
    /* 70px; */
}

.testimonial {
    margin-bottom: 3.75rem;
    /* 60px; */
}

.testimonial img {
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
}

blockquote {
    padding: 0;
    margin-bottom: 0;
    border: none;
    font-style: italic;
    text-align: left;
}

blockquote cite {
    display: block;
    color: #777;
    margin: 0.9375rem 0 0 0;
    /* 15px; */
}

blockquote:before {
    display: none;
}