body.blog h1.post-actual-title {
    font-size: 2rem;
}

#comments h3 {
    text-align: center;
}

#comments h4 {
    font-size: 1.3em;
    /* 130% increase */
}

#comments ol {
    list-style: none;
    padding: 0;
    margin: 0;
}

#comments ol li {
    background: rgba(0, 0, 0, 0.02);
    padding: 0.625rem 1.25rem;
    /* 10px 20px */
    margin: 0.625rem 0;
    /* 10px; */
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    border: 1px solid rgba(0, 0, 0, 0.03);
}

#comments ol li ol.children {
    padding: 0;
    list-style: none;
    font-size: 0.96em;
    /* 4% decrease in font size per child. */
}

#leave-comment {
    margin: 2.5rem 0 0;
    /* 40px; */
    padding: 1.25rem 0 0;
    /* 20px; */
}