$col-green: #70B044;
$col-green-hover: #8BC653;
$col-green-hov2: #6A9B3D;
$col-green-border: rgb(98,155,59);
$col-salmon: #DD5638;
$col-salmon-border: #D95131;
$col-bluegry: #3E4249;

$col-twitter: #1DA1F2;
$col-facebook: #3B5998;
$col-instagram: #C32AA3;
$col-linkedin: #007BB5;
